export(ambig.cases, rob.calibrange, cluster.plot, cluster, rob.corefit, esa, rob.inclrange, indirectCalibration, intersectExp, LR.intersect, rob.ncutrange, negateExp, pimdata, pimplot, property.cube, QCAfit, QCAradar, rob.cases, rob.fit, rob.xyplot, skew.check, smmr, stargazerSol, stargazerTT, theory.evaluation, xy.plot)

S3method(print, clusterdiagnostics)
S3method(print, clusterminimize)
S3method(print, matchessuf)
S3method(print, casestheoryeval)
S3method(print, theoryeval)
S3method(print, thintersect)
S3method(print, robtersect)


import(QCA, betareg, fmsb, ggplot2, ggrepel, scatterplot3d, admisc)
importFrom ("stargazer", "stargazer")
importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "axis", "box", "identify", "mtext",
             "par", "plot", "text")
importFrom("stats", "binomial", "coef", "glm", "xtabs","aggregate","reorder")
importFrom("utils", "head")
importFrom("graphics", "title")
importFrom("methods", "is")